<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth application</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script type="module" src="/js/groupInformationHelper.js"></script>
</head>
<body> 
  <main>
      <h1>Välkommen</h1>
      <div class="menu">
        <button><a href="/">Home</a></button>
        <button><a href="/profile">Profile</a></button>
        <button><a href="/activities">Activities</a></button>
        <button class="active"><a href="/groups">Groups</a></button>
        <button style="float:right"><a href="/log-out">Logout</a></button>
      </div>
      <div class="container">
        <form action="./groups" method="post" id="groupForm">
          <div class="formSeperator">
            <label for="groupNumber">Groupnumber</label>
            <select name="groupNumber" id="groupNumber">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="formSeperator">
            <label for="projectNumber">Projectnumber</label>
            <select name="projectNumber" id="projectNumber">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="formSeperator">
            <label for="ifSubgroups">Display subgroups</label>
            <input type="checkbox" id="ifSubgroups" name="ifSubgroups">
          </div>
          <input type="submit" value="Submit" id="submit">
        </form>
        <div id="groups">
          <h1>Groups and their projects</h1>
          <p>User has a total of <%= groupNumber %> groups.</p>
          <% if(groupNumber !== 0) { %>
          <% group.forEach(function(group) { %>
          <div class="project">
            <h2><%= group.name %></h2>
            <% if(group.avatarUrl !== null) { %>
              <img src="<%= group.avatarUrl %>" alt="Group avatar">
            <% } %>
            <ul>
              <li><strong>FullPath : </strong> <%= group.fullPath %></li>
              <li><strong>WebURL : </strong> <%= group.webUrl %></li>
              <h3>Projects</h3>
              <% if(group.projectCount > 0) { %>
                <% Object.keys(group.projects).forEach(project => { %>
                  <div class="children">
                  <ul>
                    <li><strong>Name : </strong><%= group.projects[project].name %></li>
                    <li><strong>WebURL : </strong><%= group.projects[project].webUrl %></li>
                    <li><strong> Last commit</strong></li>
                    <img src="<%= group.projects[project].lastCommitAuthorAvatar %>" alt="Avatar" class="group-img">
                    <li><strong>Author : </strong><%= group.projects[project].lastCommitAuthorName %> / <%= group.projects[project].lastCommitAuthorUsername %></li>
                    <li><strong>Time : </strong><%= group.projects[project].lastCommitAuthoredDate %></li>
                  </ul>
                </div>
                  <% }) %>
                <% } else { %>
                  <p>Group has no projects.</p>
                  <% } %>
              <% if(group.projectCount > 5 ) { %>
              <li> Group has more than five projects.</li>
              <% } %>
            </ul>
          </div>
          <% }) %>
          <% } else { %>
          <p>User has no groups.</p>
          <% } %> 
        </div>
      </div>
  </main>  
</body>
