<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth application</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script type="module" src="/js/groupInformationHelper.js"></script>
</head>
<body> 
  <main>
      <h1>Groups</h1>
      <div class="menu">
        <button><a href="/">Home</a></button>
        <button><a href="/profile">Profile</a></button>
        <button><a href="/activities">Activities</a></button>
        <button class="active"><a href="/groups">Groups</a></button>
        <button style="float:right"><a href="/log-out">Logout</a></button>
      </div>
      <div class="container">
        <div id="groups">
          <h1>Groups and their projects</h1>
          <p>User has a total of <%= groupNumber %> groups.</p>
          <% if(groupNumber !== 0) { %>
          <% group.forEach(function(group) { %>
          <div class="project">
            <h2><%= group.name || "N/A"%></h2>
            <% if(group.avatarUrl !== null) { %>
              <img src="<%= group.avatarUrl %>" alt="Group avatar">
            <% } %>
            <ul>
              <li><strong>FullPath : </strong> <%= group.fullPath|| "N/A" %></li>
              <li><strong>WebURL : </strong> <%= group.webUrl || "N/A"%></li>
              <h3>Projects</h3>
              <% if(group.projectCount > 0) { %>
                <% Object.keys(group.projects).forEach(project => { %>
                  <div class="children">
                  <ul>
                    <li><strong>Name : </strong><%= group.projects[project].name || "N/A" %></li>
                    <li><strong>WebURL : </strong><%= group.projects[project].webUrl || "N/A"%></li>
                    <li><strong> Last commit</strong></li>
                    <img src="<%= group.projects[project].lastCommitAuthorAvatar ? group.projects[project].lastCommitAuthorAvatar : '/images/baby-fox.png' %>" alt="Avatar" class="group-img">
                    <% if(group.projects[project].lastCommitAuthoredDate) { %>
                    <li><strong>Author : </strong><%= group.projects[project].lastCommitAuthorName || "N/A"%> / <%= group.projects[project].lastCommitAuthorUsername || "N/A"%></li>
                    <li><strong>Time : </strong><%= group.projects[project].lastCommitAuthoredDate || "N/A"%></li>
                    <%} else { %>
                      <li>Project has no commits.</li>
                    <% }%>  
                  </ul>
                </div>
                  <% }) %>
                <% } else { %>
                  <p>Group has no projects.</p>
                  <% } %>
              <% if(group.projectCount > 5 ) { %>
              <li> Group has more than five projects.</li>
              <% } %>
            </ul>
          </div>
          <% }) %>
          <% } else { %>
          <p>User has no groups.</p>
          <% } %> 
        </div>
      </div>
  </main>  
</body>
